<% @title = t('.title', :name => h(@repository.name)) -%>

<h2><%= @title -%></h2>

<h3><%= t '.shelf_locations' -%></h3>

<%= render :partial => 'shelf_locations/shelf_locations', :locals => { :repository => @repository } -%>

<p>
  <%= link_to t('.add_shelf_location'), new_repository_shelf_location_url(:repository_id => @repository) %>
</p>

<h3><%= t '.tracking_lists' -%></h3>

<%= render :partial => 'tracking_lists/tracking_lists', :locals => { :repository => @repository } -%>

<p>
  <%= button_to t('.add_tracking_list'),
      repository_tracking_lists_url(:repository_id => @repository, :method => :post) %>
</p>

<% if @site_admin -%>
<p>
  <%= link_to t('.edit'), edit_repository_url(:id => @repository) %>
  | 
  <%= link_to t('.delete'), repository_url(:id => @repository),
        :confirm => t('.are_you_sureg'),
        :method => :delete  %>
  <br/>
  <%= link_to t('.back_to_repositories'), repositories_url %>
</p>
<% end -%>
