<% @title = t('.title', :name => h(@repository.name)) -%>

<h2><%= @title -%></h2>

<h3><%= t '.shelf_locations' -%></h3>

<%= render :partial => 'shelf_locations/shelf_locations', :locals => { :repository => @repository } -%>

<p>
  <%= link_to t('.add_shelf_location'), new_repository_shelf_location_url(:repository_id => @repository) %>
</p>

<h3><%= t '.other_actions' -%></h3>

<ul class="horizontal-list">
  <li class="first"><%= button_to t('.add_tracking_list'),
	  repository_tracking_lists_url(:repository_id => @repository, :method => :post) %>
  </li>

  <% if @site_admin -%>
    <li><%= t('.repository') -%>
      <%= link_to t('.edit'), edit_repository_url(:id => @repository) %>
      |
      <%= link_to t('.delete'), repository_url(:id => @repository),
      :confirm => t('.are_you_sure'),
      :method => :delete  %></li>
  <% end -%>

  <li><%= link_to t('.view_tracking_lists'),
			repository_tracking_lists_url(:repository_id => @repository) %>
 </li>
</ul>
  
<p>
  <%= link_to t('.back_to_repositories'), repositories_url %>
</p>

