<h1>
  Repository: <%= @repository.name %>
</h1>

<%= render :partial => 'shelf_locations/shelf_locations', :locals => { :repository => @repository } -%>

<p>
  <%= link_to "Create New Shelf Location", new_repository_shelf_location_url(:repository_id => @repository) %>
</p>
<p>
  <%= link_to 'Edit', edit_repository_url(:id => @repository) %>
  | 
  <%= link_to 'Delete', repository_url(:id => @repository),
        :confirm => 'Are you sure?',
        :method => :delete  %>
  <br/>
  <%= link_to 'Back to Repository Listing', repositories_url %>
</p>
