<%= f.error_messages %>

<% if @matching_trackable_items.size > 0 -%>
  <p>
    <%= t('.displaying', :start => @start_record, :end => @end_record, :total => @matching_trackable_items.total_entries) -%>
  </p>
  <fieldset>
    <table  class="order">
      <tr>
	<th abbr="Do not add to list"><%= t '.do_not_add_to_list' %></th>
	<th abbr="Tracked Item Series No"><%= t '.item_series_no' -%></th>
	<th abbr="Tracked Item Box No"><%= t '.item_box_no' -%></th>
	<th abbr="Tracked Item Item No"><%= t '.item_item_no' -%></th>
	<th abbr="Tracked Item"><%= t '.item_description'	-%></th>
	<th abbr="Tracked Item Status"><%= t '.item_status' -%></th>
	<th abbr="Tracked Item Shelf Code"><%= t '.item_shelf_code' -%></th>
      </tr>

      <%= render :partial => 'shared/matching_trackable_item', :collection => @matching_trackable_items -%>

      <tr><td colspan="7" style="text-align: right"><%= will_paginate @matching_trackable_items -%></td></tr>
    </table>
  </fieldset>

  <div class="wrap">
    <%= f.submit t('.add'), { :class => "save-button", :tabindex => '1' } -%>
  </div>
<% else %>
  <h3><%= t '.no_matches' -%></h3>
<% end %>
