<% @title = t('.title', :name => h(@repository.name)) -%>

<h2><%= @title -%></h2>

<table>
  <tr>
    <th>ID</th>
    <th></th>
    <th></th>
  </tr>

<% @tracking_lists.each do |tracking_list| %>
  <tr>
    <td><%= tracking_list.id %></td>
    <td><%= link_to t('.show'), repository_tracking_list_url(:id => tracking_list.id, :repository_id => @repository) %></td>
  </tr>
<% end %>
</table>

<%= link_to t('.new') , new_repository_tracking_list_url(:repository_id => @repository) %> |  <%= link_to t('.back_to', :name => h(@repository.name)), repository_url(:id => @repository) %>

