<%# HACK: using archivescentral knowledge of what tracked_item.trackable_item is -%>
<%# TODO: replace hack with configuration -%>
<% topic = Topic.find(tracked_item.trackable_item) -%>
<% shelf_location = tracked_item.trackable_item.shelf_locations.first -%>
<tr>
  <td>
    <%= button_to t('.delete'), { :controller => :tracked_items,
    :action => :destroy,
    :id => tracked_item,
    :tracking_list_id => tracking_list,
    :confirm => t('.are_you_sure') }, :method => :delete %>
  </td>
  <td><%= topic.series_no-%></td>
  <td><%= topic.box_no-%></td>
  <td><%= topic.item_no-%></td>
  <td><%= link_to shelf_location.code, repository_shelf_location_url(:id  => shelf_location, :repository_id => shelf_location.repository)  if shelf_location.present? -%></td>
  <td><%= link_to topic.title, url_for_dc_identifier(tracked_item.trackable_item) -%><%# link_to tracked_item.description_for_tracked_item, url_for_dc_identifier(tracked_item.trackable_item) -%></td>
</tr>
