<% @submit_text = @shelf_location.new_record? ? t('.create') : t('.save') -%>

<%= f.error_messages %>

<fieldset>
  <div class="form-element">
    <%= f.label :code %>
    <%= f.text_field :code, { :tabindex => '1', :label => t('.code'), :required => true } %>
  </div>

  <% unless @shelf_location.new_record? -%>
    <h3><%= t '.allocate_to' -%></h3>
    <% if @matching_trackable_items.present? -%>
      <p>
	<%= t('.displaying', :start => @start_record, :end => @end_record, :total => @matching_trackable_items.total_entries) -%>
      </p>

      <table  class="order">
	<tr>
	  <th abbr="Do not add to list"><%= t '.do_not_add_to_list' %></th>
	  <th abbr="Item Series No"><%= t '.item_series_no' -%></th>
	  <th abbr="Item Box No"><%= t '.item_box_no' -%></th>
	  <th abbr="Item Item No"><%= t '.item_item_no' -%></th>
	  <th abbr="Item"><%= t '.item_description'	-%></th>
	  <th abbr="Item Status"><%= t '.item_status' -%></th>
	</tr>

	<%= render :partial => 'shared/matching_trackable_item', :collection => @matching_trackable_items -%>

      <tr><td colspan="7" style="text-align: right"><%= will_paginate @matching_trackable_items -%></td></tr>
      </table>
    <% else %>
      <p><%= t '.no_matches' -%></p>
    <% end %>
  <% end %>
</fieldset>

<div class="wrap">
  <%= f.submit @submit_text, { :class => "save-button", :tabindex => '1' } -%>
</div>
