<%= f.error_messages %>

<p>
  <%#= f.label :repository_id,"Repository" %><br />
  <%#= f.collection_select(:repository_id, 
  Repository.all, :id, :name) %>
  <%= repository.name %>
</p>
<%= f.hidden_field :repository_id, :value => repository.id %>

<p>
  <%= f.label :code %><br />
  <%= f.text_field :code %>
</p>