<% @submit_text = @shelf_location.new_record? ? t('.create') : t('.save') -%>

<%= f.error_messages %>

<fieldset>
  <div class="form-element">
    <%= f.label :code %>
    <%= f.text_field :code, { :tabindex => '1', :label => t('.code'), :required => true } %>
  </div>

  <% unless @shelf_location.new_record? -%>
    <h3><%= t '.allocate_to' -%></h3>
    <% if @matching_trackable_items.present? -%>

      <% f.fields_for :trackable_item_shelf_locations do |trackable_item_form| %>
        <% Rails.logger.debug("what is trackable_item_form: " + trackable_item_form.inspect) -%>
        <% Rails.logger.debug("what is trackable_item_form.object.trackable_item: " + trackable_item_form.object.trackable_item.inspect) -%>
        <%= link_to(h(trackable_item_form.object.description_for_tracked_item),
	    url_for_dc_identifier(trackable_item_form.object.trackable_item)) %>
	<%= trackable_item_form.hidden_field :trackable_item_type %>
	<%= trackable_item_form.hidden_field :trackable_item_id %>
	<%= trackable_item_form.label :_destroy, t('.do_not_add') %>
	<%= trackable_item_form.check_box :_destroy %>
      <% end %>

    <% else %>
      <p><%= t '.no_matches' -%></p>
    <% end %>
  <% end %>
</fieldset>

<div class="wrap">
  <%= f.submit @submit_text, { :class => "save-button", :tabindex => '1' } -%>
</div>
