<h2>Shelf Locations</h2>

<table>
  <thead>
    <tr>
      <th>Repository</th>
      <th>Code</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @shelf_locations.each do |shelf_location| %>
      <tr>
        <td>
          <%= shelf_location.repository.name %>
        </td> 
        <td>
          <%= link_to shelf_location.code , 
            url_for_shelf_location(shelf_location.id) %>
        </td>
        <td>
          <%= shelf_location.status %>
        </td>
        <td>
          <%= link_to "Edit" , url_to_edit_shelf_location(shelf_location.id) %>
          |
          <%= link_to "Delete" , 
              url_for_shelf_location(shelf_location.id),
              :confirm => 'Are you sure?',
              :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

