<p>Repository: <%= @repository.name %></p>
<p>Code: <%= @shelf_location.code %></p>
<p>
  Status: <%= @shelf_location.status %>
</p>
<p>
  <%= link_to 'Edit', repository_shelf_location_url(:id => @shelf_location, :repository_id => @repository) %>
  | 
  <%= link_to 'Delete', repository_shelf_location_url(:id => @shelf_location, :repository_id => @repository),
        :confirm => 'Are you sure?',
        :method => :delete  %>
  <br/>
  <%= link_to ('Back to Repository', repository_url(:id => @repository)) %>
</p>
