<h3>
  Repository: <%= @shelf_location.repository.name %>
  |
  Shelf Location: <%= @shelf_location.code %>
</h3>
<p>
  Status: <%= @shelf_location.status %>
</p>
<p>
  <%= link_to 'Edit', url_to_edit_shelf_location(@shelf_location.id) %>
  | 
  <%= link_to 'Delete', url_for_shelf_location(@shelf_location.id),
        :confirm => 'Are you sure?',
        :method => :delete  %>
  <br/>
  <%= link_to ('Back to Repository', url_for_repository(@shelf_location.repository_id)) %>
</p>