<% 
   if @historical_item
     @title = t('.title_with_name', :name => @historical_item.name_for_tracking_event)
   else
     @title = t '.title'
   end
-%>

<h2><%= @title -%></h2>

  <p>
    <%= t('.displaying', :start => @start_record, :end => @end_record, :total => @tracking_events.total_entries) -%>
  </p>

<table>
  <tr>
    <th><%= t('.event') -%></th>
    <th><%= t('.when') -%></th>
  </tr>

<% @tracking_events.each do |event| %>
  <% verb_or_event = event.verb != 'new' ? event.verb : event.event -%>
  <tr>
    <td><%= verb_or_event.humanize -%>
      <%= event.historical_receiver.name_for_tracking_event if event.historical_receiver -%>
    </td>
    <td><%= event.created_at.to_s(:short) -%></td>
  </tr>
<% end %>

  <tr><td colspan="2" style="text-align: right"><%= will_paginate @tracking_events -%></td></tr>
</table>
