<%= f.error_messages %>

<fieldset>
  <div class="form-element">
    <%= f.label :name %>
    <%= f.text_field :name, { :tabindex => '1', :label => t('.name'), :required => true } %>
  </div>

  <div class="form-element">
    <%= f.label :contact_details %>
    <%= f.text_area :contact_details, { :tabindex => '1', :label => t('.contact_details'), :cols => 90, :rows => 5, :required => true } %>
  </div>

</fieldset>

<div class="wrap">
  <%= f.submit t('.save'), { :class => "save-button", :tabindex => '1' } -%>
</div>
